[uwsgi]
module=wsgi:app
socket={{ flask_path }}/.wsgi.sock
chmod-socket=660
enable-threads=true
uid={{ flask_user }}
gid=www-data
chdir={{ flask_project_path }}
wsgi-file=wsgi.py
home={{ flask_env_path }}
processes={{ flask_uwsgi_process_count }}
master=True
pidfile={{ flask_path }}/wsgi.pid
logto=/var/log/uwsgi/{{ flask_name }}.log
plugins={{ flask_python_version|replace('.', '') }}
{% if flask_touch_reload_path != '' %}
touch-reload={{ flask_touch_reload_path }}
{% endif %}
{% for key, value in flask_env_variables.items() %}
env = {{ key }}={{ value }}
{% endfor %}
