[Unit]
Description=uWSGI Instance to serve {{ flask_name }}
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi --ini {{flask_path}}/uwsgi.ini
Restart=always
RestartSec=5s
KillSignal=SIGQUIT

[Install]
WantedBy=multi-user.target
